$color-2-svg: invert(99%) sepia(27%) saturate(5518%) hue-rotate(172deg) brightness(78%) contrast(96%);
$content-padding: 4rem;
$color-1: #f3f2ef;
$color-2: #dbecf4;
$color-3: #B7D0E1;
$color-4: #000000;
$color-5: #3e8e41;
$color-6: #DBECF4;
$color-darkblue: #194569;
$color-black:#000000;
$color-white:#FFFFFF;
$size-gap: 20px;
$size-gap-large: 40px;
$size-gap-small: 10px;
$size-border-radius: 10px;
$size-padding: 15px;
$size-padding-large: 45px;
$size-margin: 25px;
$border: 1px solid #bbbbbb;
$content-padding: 4rem;
$color-danger-svg: invert(15%) sepia(99%) saturate(2732%) hue-rotate(359deg)
  brightness(97%) contrast(96%);
$color-warning-svg: invert(78%) sepia(34%) saturate(2396%) hue-rotate(0deg)
  brightness(104%) contrast(104%);
$color-danger: #b01708;
